
  <%- include("./../layouts/head.ejs") %>
  <%- include("./header.ejs") %>

  <main class="cart container-fluid">
    <div class="cart_container padding-5 ">
      <p class=" cart_heading width-100"> Your Cart</p>

      <div class="row">
        <div class="col-8">
            <% if (items) {%>
              <% console.log(items) %>
            <% if (items.length > 0) {%>

              <% for (var i = 0; i < items.length; i++) { %>
                <div class="cart_box">
                  <div class="row">
                    <div class="col-4">
                      <img class="width-50 cart_img margin-left-25" src = <%= `/${items[i].data.thumbnail}` %> />
                    </div>
                    <div class="col-6">
                      <p class="cart_title cart_text width-100"> <%= items[i].data.title %> </p>
                      <p class="cart_price cart_text width-100"> $<%= items[i].data.price %>.99 </p>
                      <p class="cart_quantity cart_text width-100"> Qty: <%= items[i].qty %> </p>
                    </div>
                  </div>
                </div>
              <% }%>
              <% } %>
              <% } %>
        </div>
        <div class="col-3">
            <div class="total_price_container">
                <p class="total_price">Total Price</p>
                <p class="total_number">$ <%= total_price %> .99</p>
                 <button id = "order_button" class="checkout_button"> Pay Now! </button>
            </div>
        </div>

      </div>

    </div>
  </main>

<script src="https://js.stripe.com/v3/"></script>
<script >
  var stripe = Stripe("pk_test_51OjAfEL9aEOLpUqjiSrhltnG3aHmrvWEppeBUnNx9OR1oXRGA4GaLJEaU3Z1fKEXd89z0uZhd04ONLoB3NQpdTmt00u5Ujogny")
  var order_button = document.getElementById("order_button");
  order_button.addEventListener("click",(e)=>{
    console.log("SS");
      stripe.redirectToCheckout({
        sessionId:"<%= sessionId %>",

      })
  });

</script>


<%- include("./../layouts/end.ejs") %>
